## Problem 1: Easy - Reference Detective
Write a function that demonstrates whether two variables refer to the same object or just have equal values.

In [18]:
def check_references(a, b):
    """
    Given two variables, return a dictionary showing:
    - whether they're equal (==)
    - whether they're the same object (is)
    - their ids
    
    Example:
    >>> x = [1, 2, 3]
    >>> y = x
    >>> z = list(x)
    >>> check_references(x, y)
    {'equal': True, 'same_object': True, 'a_id': 140123456, 'b_id': 140123456}
    >>> check_references(x, z)  
    {'equal': True, 'same_object': False, 'a_id': 140123456, 'b_id': 140789012}
    """
    # Your code here
    dict = {}

    equal = a == b
    same_object = a is b
    a_id = id(a)
    b_id = id(b)

    dict = {'equal': equal, 'same_object': same_object, 'a_id': a_id, 'b_id': b_id}

    return dict

In [19]:
a = [1, 2, 3]
b = a
check_references(a, b)

{'equal': True,
 'same_object': True,
 'a_id': 1917402200256,
 'b_id': 1917402200256}

In [20]:
x = [1, 2, 3]
y = [1, 2, 3]
check_references(x, y)

{'equal': True,
 'same_object': False,
 'a_id': 1917402187200,
 'b_id': 1917402201984}

In [21]:
name_one = 'bob'
name_two = name_one
check_references(name_one, name_two)

{'equal': True,
 'same_object': True,
 'a_id': 1917403821904,
 'b_id': 1917403821904}

In [22]:
name_three = 'tim'
name_four = 'tim'
check_references(name_three, name_four)

{'equal': True,
 'same_object': True,
 'a_id': 1917403363248,
 'b_id': 1917403363248}

In [23]:
name_three = "".join(['t', 'i', 'm'])  # Builds string dynamically
name_four = "tim"                       # String literal
print(check_references(name_three, name_four))

{'equal': True, 'same_object': False, 'a_id': 1917403746240, 'b_id': 1917403363248}

## Problem 2: Medium - Type-Safe Calculator

Create a function that performs arithmetic operations but enforces type safety like Python does naturally.

In [87]:
def safe_calculate(a, b, operation):
    """
    Perform an arithmetic operation on a and b, but handle type mismatches gracefully.
    
    Operations: 'add', 'subtract', 'multiply', 'divide'
    
    Rules:
    - If both inputs are numbers (int or float), perform the operation
    - If one is a string that can be converted to a number, convert and calculate
    - If operation is 'add' and both are strings, concatenate them
    - Otherwise, return an error message
    
    Example:
    >>> safe_calculate(5, 3, 'add')
    8
    >>> safe_calculate('5', 3, 'multiply')
    15
    >>> safe_calculate('hello', 'world', 'add')
    'helloworld'
    >>> safe_calculate('hello', 5, 'multiply')
    'Error: Cannot multiply str and int'
    """
    both_strings = isinstance(a,str) and isinstance(b,str)
    mismatch = (isinstance(a,str) and (isinstance(b,int) or isinstance(b,float))) or (isinstance(b,str) and (isinstance(a,int) or isinstance(a,float)))

    if(operation == 'add'):
        if(mismatch == False):
            return a + b
        else:
            try:
                if(isinstance(a,(int,float)) and type(b) == str):
                    return a + float(b)
                elif(isinstance(b,(int,float)) and type(a) == str):
                    return float(a) + b
                else:
                    return a + b
            except (ValueError, TypeError):
                return f'Error: Cannot {operation} {type(a)} and {type(b)}'
    elif(operation == 'subtract'):
        if(both_strings == False and mismatch == False):
            return a - b
        else:
            try:
                if(isinstance(a,(int,float)) and type(b) == str):
                    return a - float(b)
                elif(isinstance(b,(int,float)) and type(a) == str):
                    return float(a) - b
                else:
                    return a - b
            except (ValueError, TypeError):
                return f'Error: Cannot {operation} {type(a)} and {type(b)}'
    elif(operation == 'multiply'):
        if(both_strings == False and mismatch == False):
            return a * b
        else:
            try:
                if(isinstance(a,(int,float)) and type(b) == str):
                    return a * float(b)
                elif(isinstance(b,(int,float)) and type(a) == str):
                    return float(a) * b
                else:
                    return a * b
            except (ValueError, TypeError):
                return f'Error: Cannot {operation} {type(a)} and {type(b)}'
    elif(operation == 'divide'):
        if(both_strings == False and mismatch == False):
            return a / b
        else:
            try:
                if(isinstance(a,(int,float)) and type(b) == str):
                    return a / float(b)
                elif(isinstance(b,(int,float)) and type(a) == str):
                    return float(a) / b
                else:
                    return a / b
            except (ValueError, TypeError):
                return f'Error: Cannot {operation} {type(a)} and {type(b)}'
    else:
        return f'Error: Operation {operation} is not supported'

In [88]:
safe_calculate(5, 3, 'add')

8

In [89]:
safe_calculate('5', 3, 'multiply')

15.0

In [90]:
safe_calculate('hello', 'world', 'add')

'helloworld'

In [91]:
safe_calculate('hello', 5, 'multiply')

"Error: Cannot multiply <class 'str'> and <class 'int'>"

In [92]:
safe_calculate('5', 5, 'multiply')

25.0

In [94]:
safe_calculate('hello','goodbye','subtract')

"Error: Cannot subtract <class 'str'> and <class 'str'>"

In [95]:
safe_calculate('hello', 20.1, 'divide')

"Error: Cannot divide <class 'str'> and <class 'float'>"