## Coding Problem 1 (Easy): ##

Write a function that takes a list of words and returns a dictionary where keys are the first letters and values are lists of words starting with that letter. Handle both upper and lowercase by treating them as the same letter.

In [23]:
# Example:
words = ["Apple", "banana", "apricot", "Berry", "cherry", "Carrot"]
result = group_by_first_letter(words)
# Should return: {'a': ['Apple', 'apricot'], 'b': ['banana', 'Berry'], 'c': ['cherry', 'Carrot']}

### Requirements:

- Use setdefault() method (as shown in the book)
- Convert first letters to lowercase for grouping
- Keep original word casing in the lists

#### Solution:

In [52]:
def group_by_first_letter(words):

    by_letter = {}

    for word in words:
        letter = word[0].lower()
        by_letter.setdefault(letter, []).append(word)

    return by_letter

In [25]:
words = ["Apple", "banana", "apricot", "Berry", "cherry", "Carrot"]
result = group_by_first_letter(words)
result

{'a': ['Apple', 'apricot'],
 'b': ['banana', 'Berry'],
 'c': ['cherry', 'Carrot']}

## Coding Problem 2 (Medium):
Write a function that flattens a nested structure of lists and tuples (arbitrary depth) into a single list. The function should handle mixed nesting of lists and tuples.

In [ ]:
# Example
nested = [1, [2, 3], (4, [5, 6]), [[7, 8], 9], 10]
result = flatten(nested)
# Should return: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Requirements:

- Handle arbitrary levels of nesting
- Work with both lists and tuples
- Preserve the order of elements
- Non-list/tuple items should be included as-is

#### Solution:

In [47]:
def flatten(sequence):

    flattened = []

    for element in sequence:
        if not (isinstance(element,(list,tuple))):
            flattened.append(element)
        else:
            flattened.extend(flatten(element))

    return flattened

In [45]:
#Debugging

a_list = [1,2,3]
a_tuple = (1,2,3)
a_int = 5

not isinstance(a_int, (list,tuple))

True

In [49]:
nested = [1, [2, 3], (4, [5, 6]), [[7, 8], 9], 10]
result = flatten(nested)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
deep = [1, [2, [3, [4, [5]]]]]
result_2 = flatten(deep)
print(result_2)

[1, 2, 3, 4, 5]

## Coding Problem 3 (Hard):
Write a function that finds all "anagram groups" in a list of words. Two words are anagrams if they contain the same letters in a different order.

In [ ]:
# Example
words = ["eat", "tea", "tan", "ate", "nat", "bat", "tab"]
result = find_anagram_groups(words)
# Should return: [['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat', 'tab']]

### Requirements:

- Return a list of lists, where each inner list is a group of anagrams
- Order within groups doesn't matter, order of groups doesn't matter
- Use a dictionary to track the groups
- Think about what would make a good dictionary key for grouping anagrams

#### Solution:

In [72]:
def find_anagram_groups(words):

    by_anagram = {}

    for word in words:
        sorted_word = ''.join(sorted(word))
        by_anagram.setdefault(sorted_word, []).append(word)

    anagram_list = []

    for key in by_anagram:
        anagram_list.append(by_anagram[key])

    return anagram_list

In [73]:
words = ["eat", "tea", "tan", "ate", "nat", "bat", "tab"]
result = find_anagram_groups(words)
result

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat', 'tab']]